[MASTER]

#init-hook='import sys; import os; sys.path.append(os.getcwd() + "/example/hello_world")'

[MESSAGES CONTROL]

disable=invalid-name,too-few-public-methods


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

# Maximum number of lines in a module
#max-module-lines=1000
max-module-lines=5000


[REPORTS]

reports=no
#include-ids=yes
